<?xml version="1.0"?>

<!--Warning: Modify this at your own risk!!!-->
<Settings>

  <!--Graphics settings-->
  <ScreenWidth>960</ScreenWidth>
  <ScreenHeight>600</ScreenHeight>
  <Fullscreen>false</Fullscreen>
  <VSync>true</VSync>
  <RealisticWater>false</RealisticWater>
  <ReflectionEnabled>true</ReflectionEnabled>
  <ShadowEnabled>true</ShadowEnabled>
  <ShowLandscape>true</ShowLandscape>
  <ShowWater>true</ShowWater>
  <ShowObjectReflection>true</ShowObjectReflection>
  <ViewDistanceSquared>500000000000</ViewDistanceSquared>
  <BloomSettings>
    <Enabled>false</Enabled>
    <Blur>3</Blur>
    <Threshold>0.86</Threshold>
    <BloomIntensity>1.2</BloomIntensity>
    <BaseIntensity>1.1</BaseIntensity>
    <BloomSaturation>1</BloomSaturation>
    <BaseSaturation>1</BaseSaturation>
  </BloomSettings>

  <!--General settings-->
  <PlayerName>Unnamed</PlayerName>
  <EnableProfile>true</EnableProfile>
  <EnableScreenshot>true</EnableScreenshot>
  <IsMouseVisible>true</IsMouseVisible>
  <IsFixedTimeStep>true</IsFixedTimeStep>
  <ClipCursor>true</ClipCursor>
  <EnableSound>true</EnableSound>
  <MaxSearchStepsPerUpdate>5000</MaxSearchStepsPerUpdate>
  <DirectEnter>false</DirectEnter>
  <TraceUnits>false</TraceUnits>
  <Cheat>false</Cheat>
  <RevealMap>true</RevealMap>
  <GameSpeed>1</GameSpeed>

  <!--Camera settings-->
  <CameraSettings>
    <MinHeightAboveGround>50</MinHeightAboveGround>
    <ScrollAreaSize>2</ScrollAreaSize>
    <WheelFactor>0.425</WheelFactor>
    <Sensitivity>1.5</Sensitivity>
    <Smoothness>1.0</Smoothness>
    <MaxRadius>225</MaxRadius>
    <DefaultRadius>180</DefaultRadius>
    <MinSpeed>0.04</MinSpeed>
    <MaxSpeed>0.2</MaxSpeed>
    <RotationFactorX>0.0052359877559</RotationFactorX>
    <RotationFactorY>0.0104719755119</RotationFactorY>
  </CameraSettings>

</Settings>
