<?xml version="1.0"?>

<!--Warning: Modify this at your own risk!!!-->
<Settings>
  
  <!--General settings-->
  <PlayerName>Unnamed</PlayerName>
	<EnableProfile>true</EnableProfile>
  <EnableScreenshot>true</EnableScreenshot>
  <IsMouseVisible>false</IsMouseVisible>
  <IsFixedTimeStep>true</IsFixedTimeStep>

  <!--Camera settings-->
  <CameraSettings>
    <FieldOfView>0.78539816339744</FieldOfView>
    <FarPlane>10000</FarPlane>
    <NearPlane>1</NearPlane>
    <MinHeightAboveGround>10</MinHeightAboveGround>
    <NavigationAreaSize>10</NavigationAreaSize>
    <WheelFactor>0.1</WheelFactor>
    <InitialHeight>100</InitialHeight>
    <RotationFactorX>0.0052359877559</RotationFactorX>
    <RotationFactorY>0.0104719755119</RotationFactorY>
    <BaseSpeed>0.08</BaseSpeed>
    <ScrollHeightFactor>1.25</ScrollHeightFactor>
    <Radius>200</Radius>
    <Roll>0.78539816339</Roll>
    <Pitch>-0.78539816339</Pitch>
    <MinRoll>0.17453292519</MinRoll>
    <MaxRoll>1.39626340159</MaxRoll>
    <MinRadius>10</MinRadius>
    <MaxRadius>1500</MaxRadius>
    <InitialXPosition>1300</InitialXPosition>
    <InitialYPosition>1300</InitialYPosition>
  </CameraSettings>
  
  <!--Graphics settings-->
  <ScreenWidth>960</ScreenWidth>
  <ScreenHeight>600</ScreenHeight>
  <Fullscreen>false</Fullscreen>
  <VSync>false</VSync>
  <NormalMappedTerrain>false</NormalMappedTerrain>
  <RealisticWater>false</RealisticWater>
  <ViewDistanceSquared>500000000000</ViewDistanceSquared>
  <BloomSettings>
    <Enabled>false</Enabled>
    <Type>Saturated</Type>
    <Blur>1.5</Blur>
    <Threshold>0.75</Threshold>
    <BloomIntensity>1.2</BloomIntensity>
    <BaseIntensity>1</BaseIntensity>
    <BloomSaturation>1</BloomSaturation>
    <BaseSaturation>1</BaseSaturation>
  </BloomSettings>
  
</Settings>