<?xml version="1.0"?>
<Settings>
  <ScreenWidth>960</ScreenWidth>
  <ScreenHeight>600</ScreenHeight>
  <Fullscreen>false</Fullscreen>
  <VSync>false</VSync>
  <NormalMappedTerrain>false</NormalMappedTerrain>
  <BloomEffect>false</BloomEffect>
  <PlayerName>Unnamed</PlayerName>
	<EnableProfile>true</EnableProfile>
  <EnableScreenshot>true</EnableScreenshot>
</Settings>