name: Build
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
    - run: dotnet build -warnAsError -c Release -o ${{ runner.temp }}/bin
    - uses: actions/upload-artifact@v2
      with:
        name: isles
        path: ${{ runner.temp }}/bin
