name: build
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - run: dotnet build -c Release -o ${{ runner.temp }}/bin
    - uses: actions/upload-artifact@v2
      with:
        name: isles-${{ matrix.os }}
        path: ${{ runner.temp }}/bin
